.center-font {
    font-size: 35px;
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: 50%;
    right: inherit;
    transform: translate(-50%, -50%);
    color: var(--white);
}

h1 {
    border-radius: 6px;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.center-font h1:hover {
    transition: all ease-in-out 0.3s;
    background-color: var(--light-black);
}

.wrapper-text {
    font-size: 20px;
    width: 100%;
    color: var(--white);
    justify-content: justify;
    text-align: center;
    padding-top: 45px;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 1.5;
    position: relative;
    margin: 5px;
}

.wrapper-text-bg {
    padding: 60px;
    border-radius: 10px;
    transition: all ease-in-out 0.9s;
    background-image: var(--text-bg-right);
}

.wrapper-text-bg:hover {
    box-shadow: 1px 1px 25px var(--white);
}

.seo-ser {
    text-align: justify;
    display: flex;
    color: var(--white);
    padding: 20px;
}

.section-h-t {
    align-items: center;
    height: fit-content;
    background-image: var(--text-bg-right);
    padding: 30px;
    margin: 10px;
    border-radius: 10px;
    transition: all ease-in-out 0.9s;
}

.section-h-t:hover {
    box-shadow: 1px 1px 25px var(--white);
}

.seo-ser-head {
    text-align: left;
    transition-delay: 1s;
    margin: 10px;
    padding: 1px;
}

.seo-ser-text {
    font-size: 18px;
    line-height: 1.4;
    transition-delay: 2s;
    margin: 10px;
    padding: 1px;
}

.slide-in {
    opacity: 0;
    transition: all ease-in-out 0.8s;
    transform: translateX(90%) scale(0);
}

.slide-in.active {
    opacity: 1;
    transform: translateX(0%) scale(1);
}

.image1 {
    border-radius: 30px;
    width: auto;
    margin: 10px;
    padding: 10px;
}

.image1:hover {
    box-shadow: 1px 1px 20px var(--white);
}


.wrapper1-text {
    font-size: 20px;
    width: 100%;
    color: var(--white);
    text-align: justify;
    text-align: center;
    padding-left: 45px;
    padding-right: 45px;
    line-height: 1.5;
    position: relative;
    margin: 5px;
}

.wrapper1-text-bg {
    padding: 60px;
    border-radius: 10px;
    transition: all ease-in-out 0.3s;
    background-image: var(--text-bg-right);
}

.wrapper1-text-bg:hover {
    box-shadow: 1px 1px 25px var(--white);
}

.box-container {
    font-size: 20px;
    margin-top: 33px;
    margin-bottom: 0px;
    background-color: transparent;
    display: flex;
    gap: 30px;
    text-align: justify;
    color: var(--white);
    justify-content: center;
}

.box {
    text-align: justify;
    padding: 10px;
    border: 2px dashed var(--white);
    border-radius: 15px;
    background-color: transparent;
}

.box:hover {
    box-shadow: 1px 1px 15px var(--white);
}

.svg {
    padding-left: 5px;
    cursor: pointer;
    height: 20%;
    float: left;
    width: 20%;
    fill: var(--yellow);
}

@media only screen and (max-width: 480px) {
    .body {
        overflow-x: hidden;
    }

    .center-font {
        font-size: 15px;
        position: absolute;
        left: 50%;
        top: 35%;
        justify-content: center;
        bottom: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
    }

    #media-image {
        width: 520;
        height: 300px;
    }

    .wrapper-text {
        font-size: 16px;
        color: var(--white);
        justify-content: justify;
        text-align: center;
        padding-top: 30px;
        padding-left: 30px;
        padding-right: 30px;
        line-height: 1.5;
        position: relative;
        margin: 5px;
    }

    .wrapper-text-bg {
        padding: 40px;
        border-radius: 10px;
        transition: all ease-in-out 0.3s;
        background-image: var(--text-bg-right);
    }

    .section-h-t {
        align-items: center;
        height: fit-content;
        background-image: var(--text-bg-right);
        padding: 30px;
        margin: 10px;
        border-radius: 10px;
        transition: all ease-in-out 0.9s;
    }

    .section-h-t:hover {
        box-shadow: 1px 1px 25px var(--white);
    }

    .seo-ser-head {
        font-size: 15px;
        text-align: left;
        transition-delay: 1s;
        margin: 10px;
        padding: 1px;
    }

    .seo-ser-text {
        font-size: 13px;
        line-height: 1.4;
        transition-delay: 2s;
        margin: 10px;
        padding: 1px;
    }


    .wrapper1-text {
        font-size: 0.7rem;
        color: var(--white);
        text-align: justify;
        text-align: center;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 1.5;
        position: relative;
        margin: 5px;
    }

    .wrapper1-text-bg {
        padding: 30px;
        border-radius: 10px;
        transition: all ease-in-out 0.3s;
        background-image: var(--text-bg-right);
    }

    .box-container {
        height: fit-content;
        width: fit-content;
        font-size: 18px;
        margin-bottom: 0px;
        background-color: transparent;
        display:grid;
        text-align: justify;
        color: var(--white);
        justify-content: center;
    }

    .box {
        height: fit-content;
        font-size: 10px;
        text-align: justify;
        border: 2px dashed var(--white);
        border-radius: 15px;
        background-color: transparent;
    }

    .svg {
        padding: 30px;
        margin: 0px;
        cursor: pointer;
        float: left;
        width: 38%;
        fill: var(--yellow);
    }

    .text-h3{
        font-size: 17px;
        top:-20px;
    }

    .text-des{
        top:-15px;
        justify-content: center;
        font-size: 14px;
    }
}